/*** VARIABLES ***/

$blue: #275b8c;
$light-blue: #e3ecf3;
$red: #c52027;
$border-color: #ccc;
$text-color: #666;
$text-color-light: lighten($text-color, 20%);

$font-size: 12px;
$line-height: 18px;
$radius: 5px;

$sans-serif: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$sans-serif-special: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;