/*** GLOBAL ***/

html {
  background: #f4f4f4;
}
#container {
  background: #fff;
  @include border-radius;
  @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.2));
  color: $text-color;
  font-family: $sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  margin: 20px auto 40px auto;
  text-shadow: 0 1px 0 #fff;
  width: 960px;
}
.clear {
  clear: both;
}
a {
  color: $blue;
  @include transition(all .2s linear);
  &:hover, &:focus, &:active {
    color: $red;
  }
}
h1, h2, h3 {
  color: $blue;
  font-size: $font-size + 4px;
  margin-bottom: $line-height;
}