/*** HEADER ***/
header {
  padding: 20px;
  h1 {
    float: left;
    font: 700 40px/50px $sans-serif-special;
    letter-spacing: -1px;
    margin: 0;
    a {
      color: $blue;
    }
    span {
      color: #999;
      font: 200 36px/50px $sans-serif-special;
      margin: 0 0 0 -2px;
    }
  }
  p {
    float: right;
    margin: 0 20px 0 0;
  }
  ul {
    float: right;
    li {
      float: left;
      &.btn {
        margin: 0 0 0 15px;
        a {
          @include btn-gray;
          padding: 4px 8px;
        }
      }
    }
  }
}